@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<div>
    <ul id="mainLinks">
        <li><a href="@Url.Action("Index",(string)"Inheritance")">Inheritance</a></li>
    </ul>
</div>    
