@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inheritance</h2>
<div>
    <ul id="mainLinks">
        <li><a href="@Url.Action("OverrideNewDifference")">Difference between Override and New</a></li>
    </ul>
</div>
<div>
    <a href="@Url.Action("Index",(string)"Home")">Back</a>
</div>

