
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    ovoa e nova strana
    <div> 
    </div>
</body>
@section SideLinks
    {
    <div style="float:right">
        <a href="#" style="color:gray">See list of bikes in your city</a>
        <br />
        <a href="#" style="color:gray">See list of all stolen bikes</a>


    </div>
}

@section SideImage
    {
    <div>
        <img src="~/Content/Images/bikes_Mukluk2_2013.jpg" style="width:90%;" />
    </div>
}
</html>
